body {

font-family: Arial, sans-serif;
background: #f5f5f5;
margin:0;
padding:0;

}


header {

background:#333;
color:white;
padding:30px;
text-align:center;

}


main {

max-width:900px;
margin:auto;
padding:30px;

}


.persona {

background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 2px 5px #ccc;

}


.principal {

text-align:center;
border:3px solid #444;

}


.linea {

height:40px;
border-left:3px solid #444;
margin:auto;
width:1px;

}


.ramas {

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


.familia {

margin-top:50px;

}


.tarjetas {

display:flex;
gap:20px;
flex-wrap:wrap;

}


.tarjetas div {

background:white;
padding:20px;
border-radius:10px;
flex:1;

}


footer {

text-align:center;
padding:30px;

}