body{

font-family:Arial;
background:#f4f4f4;
margin:0;

}


header{

background:#222;
color:white;
text-align:center;
padding:30px;

}


main{

max-width:1000px;
margin:auto;
padding:30px;

}


#arbol{

text-align:center;

}


.persona{

display:inline-block;
background:white;
margin:20px;
padding:20px;
min-width:220px;
border-radius:12px;
cursor:pointer;
box-shadow:0 3px 8px #bbb;

}


.persona:hover{

transform:scale(1.05);

}


.ramas{

display:flex;
justify-content:center;
flex-wrap:wrap;

}


footer{

text-align:center;
padding:30px;

}

.generacion{

margin:40px 0;
text-align:center;

}


.generacion h2{

font-size:22px;
color:#444;

}


.ramas{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}


.persona{

transition:0.2s;

}


.persona:hover{

cursor:pointer;
transform:translateY(-5px);

}